{% extends "base-layout.html.twig" %}

{% block content %}
    <div class='page'>
        <div class='content'>

            {% include 'header.html.twig' %}

            <div class='info-container'>

                <div class="headline">
                    Lorem ipsum dolor
                </div>

                <div class='text-container'>
                    <div class="text-container__label">
                        sit amet
                    </div>
                    <div class="text-container__text">
                        consetetur sadipscing elitr
                    </div>
                </div>

                <div class='text-container'>
                    <div class="text-container__label">
                        sed diam nonumy
                    </div>
                    <div class="text-container__text">
                        eirmod tempor
                    </div>
                </div>

                <div class='text-container'>
                    <div class="text-container__label">
                        invidunt
                    </div>
                    <div class="text-container__text">
                        ut labore
                    </div>
                </div>

                <div class="headline">
                    et dolore magna
                </div>

                <div class='text-container'>
                    <div class="text-container__label">
                        07/2020 - heute
                    </div>
                    <div class="text-container__text">
                        aliquyam erat
                        <br>
                        sed diam voluptua.
                    </div>
                </div>

                <div class='text-container'>
                    <div class="text-container__label">
                        07/2019 - 06/2020
                    </div>
                    <div class="text-container__text">
                        At vero eos et accusam<br />et justo duo dolores et ea rebum
                    </div>
                </div>

                <div class='text-container'>
                    <div class="text-container__label">
                        07/2018 - 06/2019
                    </div>
                    <div class="text-container__text">
                        Stet clita kasd gubergren<br />no sea takimata sanctus est Lorem ipsum dolor sit amet
                    </div>
                </div>

                <div class='text-container'>
                    <div class="text-container__label">
                        07/2017 - 06/2018
                    </div>
                    <div class="text-container__text">
                        Lorem ipsum dolor sit amet<br />consetetur sadipscing elitr
                    </div>
                </div>

                <div class="headline">
                    sed diam nonumy
                </div>

                <div class='text-container'>
                    <div class="text-container__label">
                        2018 - 2008
                    </div>
                    <div class="text-container__text">
                        eirmod tempor invidunt ut labore et dolore magna aliquyam erat<br />
                        sed diam voluptua
                    </div>
                </div>

                <div class='text-container'>
                    <div class="text-container__label">
                        2008 - 2000
                    </div>
                    <div class="text-container__text">
                        At vero eos et accusam<br />
                        et justo duo
                    </div>
                </div>

            </div>

        </div>

        {% include 'footer.html.twig' %}
    </div>
{% endblock %}