<header>
    <div class='circle-image-container'>
        <img class='circle-image-container__image' src='{{ photo }}' alt='Max Musermann'/>
    </div>

    <div class='title-container'>
        <div class='title-container__title-1'>
            MAX MUSTERMANN
        </div>
        <div class='title-container__title-2'>
            Senior Software Entwickler
        </div>
    </div>
</header>